.App {
  text-align: left;
  height: inherit;
  width: inherit;
}

.annotation-text-anchor-start {
  text-anchor: start
}

.annotation-text-anchor-middle {
  text-anchor: middle
}

.annotation-text-anchor-end {
  text-anchor: end
}
