html {
  /* pointer-events: none; */
  background: none transparent;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: inherit;
  width: inherit;
}

#root {
  height: inherit;
  width: inherit;
}

.Annotation-Div {
  overflow: hidden;
}